@model Forum.Models.Thread

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Thread</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
    <div class="container">
        @foreach (var message in Model.Messages)
        {
            <div class="row">
                <p><b>@message.DatePosted</b></p>
                <p>@message.Text</p>
            </div>

        }
    </div>
    <a class="btn-danger" asp-controller="Messages" asp-action="Create" asp-route-threadid="@Model.Id">Reply</a>
    @*onclick="window.location.href='../../Messages/Create'"*@
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
